.container {
  display: flex;
  flex-direction: column;
}

.date {
  font-size: 0.9rem;
  font-style: italic;
  text-align: left;
}

.title {
  color: #282c34;
  font-size: 1.1rem;
  margin-bottom: 15px;
  margin-top: 10px;
  text-decoration: none;
}

.title:hover {
  text-decoration: underline;
}

.link {
  color: #4c5463;
  display: block;
  margin-top: auto;
  text-decoration: none;
}

.link svg {
  margin-right: 10px;
}

.footer {
  display: flex;
  margin-top: auto;
}

.footerItem:last-child {
  margin-left: auto;
}
