.App {
  background-color: #4c5463;
  color: white;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  text-align: center;
}

.Button {
  background-color: #ff4000;
  border-radius: 20px;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
